@charset "utf-8";
*{box-sizing:border-box; padding:0;}
.cabezera{background-color: aquamarine; position:sticky; vertical-align:center; text-align:center;}
ul{list-style:none; color:white; }
h1{text-align:center; vertical-align:center;}
li{display:grid; grid-area:li;}
.titulo img{display:flex;}
nav{display:grid; grid-template-areas: "li""li""li"; }
aside{}
footer{display:grid; grid-template-areas: "creditos""redes""creador""suscripcion";}
